[run]
branch = True
source = nomade
omit = 
    nomade/main.py
    nomade/__init__.py

[report]
fail_under = 85
show_missing = True
ignore_errors = True
sort = Miss
exclude_lines =
    pragma: no cover
    def __repr__
